<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div>
          <mat-toolbar>
            <mat-toolbar-row style="text-align:center">
                <div> {{selected}} </div>
                <span class="example-spacer"></span>
                <mat-form-field>
                  <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option value="Attendance List">Attendance List</mat-option>
                    <mat-option value="English">English</mat-option>
                    <mat-option value="Filipino">Filipino</mat-option>
                    <mat-option value="Science">Science</mat-option>
                  </mat-select>
                </mat-form-field>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
          <div>
              <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="dataSource">
                
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
          </div>
    </mat-drawer>

    <div class="content" style="text-align:center">
        <mat-toolbar color="accent">
            <mat-toolbar-row style="text-align:center">
                <button type="button" mat-button (click)="drawer.toggle()">
                    Toggle sidenav
                  </button>
                  <span class="example-spacer"></span>
                <h1>
                    Welcome to {{ title }}!
                    
                  </h1>
                  <span class="example-spacer"></span>
                  <button mat-raised-button class="add-btn" (click)="openDialog()">Add Student</button>
            </mat-toolbar-row>
          </mat-toolbar>
        
        <mat-card class="card--3">Simple card</mat-card>
        <mat-card class="card--3">Simple card</mat-card>
        <mat-card class="card--3">Simple card</mat-card>
        <mat-card class="card--3">Simple card</mat-card>
        <mat-card class="card--3">Simple card</mat-card>
        <mat-card class="card--3">Simple card</mat-card>
      <div class="example-sidenav-content">
        
      </div>
    </div>
  </mat-drawer-container>
</div>
